main {
   .backgroundimg {
        background: url(../img/hero-painteressentials-7.jpg);
        height: 463px;
        background-position: 50%;
        .textleft {
            padding-top: 50px;
            li {
                padding-bottom: 15px;
            }
        }
        .boxright {
            position: relative;
            background-color: black;
            padding: 15px;
            padding-top: 60px;
            margin-top: 15px;
            margin-left: 30px;
            width: 35%;
            height: 440px;

            h2 {
                padding-bottom: 10px;
            }

            img {
                position: absolute;
                right: 20px;
                top: 30px;
            }
        }
        .minibox {
            background: white;
            padding: 10px;
            h3 {
                color: #2c2c2c;
                font-weight: 400;
                padding-bottom: 10px;
            }
            h4 {
                font-size: 14px;
                color: #2c2c2c;
                padding-bottom: 10px;
            }
        }
    }
// navbar
.navbar {
    background: #e6e6e6;
    li {
        padding: 12px 23px 13px;
        font-size: 18px;
        color: #555555;
        border-bottom: 2px solid #e6e6e6;
        cursor: pointer;
        &:hover {
            background-color: #ffffff;
            color: black;
            border-bottom: 2px solid black;
        }
    }
}
.pretext {
    height: 300px;
    background: #0f0f0f;
    h2 {
        padding-top: 130px;
    }
}
.scttwo {
    background: url(../img/intro.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-position: +50%;
    background-size: cover;
 .letterbox {
     width: 1000px;
     background: black;
     position: relative;
     top: 126px;
     img {
         max-width: 100%;
         padding: 40px 40px 0px 40px;
     }
    }
}
.scttre {
    width: 1000px;
    h2, h3 {
        color: #333333;
    }
    h2 {
        padding-top: 126px;
    }
    h3 {
        padding-bottom: 100px;
    }
    img {
        max-width: 100%;
        margin-bottom: 50px;
    }
}
  .paintone {
    height: 650px;
    width: 100%;
    background: url(../img/image-bg-02.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}
.tools {
    background: #222222;
    padding-top: 120px;
    h3 {
        padding-bottom: 50px;
    }
    img {
        width: 60%;
        padding-bottom: 100px;
    }
    .experiment {
        align-items: center;
        h3 {
            text-align: left;
            line-height: 30px;
        }
    }
    .brushes {
        align-items: center;
        h3 {
            text-align: right;
            line-height: 30px;
        }
    }
}
 .paintwo {
        height: 650px;
        width: 100%;
        background: url(../img/image-bg-01.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
        background-size: cover;
 }

}