// general
.container {
    width: 1170px;
    margin: auto;
}
.mgauto {
    margin: auto;
    text-align: center;
}
// flex
.flex {
    display: flex;

}
.flexcol {
    display: flex;
    flex-direction: column;
}
.flexend {
    display: flex;
    justify-content: end;
    align-items: center;
}
.flexbt {
    display: flex;
    justify-content: space-between;
}

